<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /~60914/weather
    RewriteRule ^/~60914/weather/index\.html$ - [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . /~60914/weather/index.html [L]
</IfModule>